services:
  yolov8:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yolov8-plate-reader
    command: uv run python main.py
    ipc: "host"
    volumes:
      - ./:/app
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/.Xauthority:/root/.Xauthority:ro
    environment:
      - DISPLAY=$DISPLAY
      - PYTHONUNBUFFERED=1
      - QT_X11_NO_MITSHM=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

    stdin_open: true
    tty: true